@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink-bright: #ffecf2;
  --pink-dark: #fccada;
  --pink-text: #fa9ebc;
  --pink-hover: #ec94b2;
}

@media (prefers-color-scheme: light) {
  :root {
    --pink-bright: #ffecf2;
    --pink-dark: #fccada;
    --pink-text: #fa9ebc;
    --pink-hover: #ec94b2;
  }
}

::selection {
  background: var(--pink-text);
}

body {
  color: black;
  background: linear-gradient(to bottom, var(--pink-dark), var(--pink-bright));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
